@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ffffff;
  font-family: 'Inter', sans-serif; 
}

/* Custom Scrollbar untuk Chatbox */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #c7c7c7; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #a0a0a0; 
}